*{
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.maindiv{
    padding: 10px;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.greendiv{
    background-color: #c7f0c7;
    height: 100%;
    width: 100%;
    border: solid 5px;
    border-color: #228001;
    box-sizing: border-box;
    padding: 10px;

}
.greensub{
    height: 100%;
    width: 100%;
    background-color: #c7f0c7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bluediv{
    background-color: #add8e6;
    height: 150px;
    border: solid 5px;
    border-color: #2000ff;
    display: flex;
    padding: 5px;
    gap: 11px;
}


.pinkdiv{
    
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}
   


.darkblue{
    background-color: #add8e6;
    height: 150px;
    border: solid 5px;
    border-color: #2000ff;
} 
.box1{
    width: 200px;
    height: 100%;
    background-color: #fddbb9;
    flex-grow: 1;
    border: solid 5px #f88072;
}
.box2{
    width: 200px;
    height: 100%;
    background-color: #fddbb9;
    flex-grow: 1;
    border: solid 5px #f88072;
    display: flex;
    padding: 10px;
}
.box3{
    width: 200px;
    height: 100%;
    background-color: #fddbb9;
    flex-grow: 1;
    border: solid 5px #f88072;
}
.inside1{
    background-color: #fac0cb;
    height: 100px;
    width: 50%;
    border: solid 5px;
    border-color: #f40205;
  
}
.inside2{
    background-color: #fac0cb;
    height: 100px;
    width: 50%;
    border: solid 5px;
    border-color: #f40205;
   
}
.pink1{
    background-color: #fbbbbc;
    width: 50%;
    height: 100%;
    border: solid 5px;
    border-color: #a52b2a;
}

.pink2{
    background-color: #fbbbbc;
    width: 100%;
    height: 50%;
    border: solid 5px;
    border-color: #a52b2a;
}
.pink3{
    background-color: #fbbbbc;
    width: 100%;
    height: 50%;
    border: solid 5px;
    border-color: #a52b2a;
}
.mainpink{
  
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 7px;
    padding-left: 10px;
}
.blue1{
    width: 200px;
    height: 100%;
    background-color: #e2deff;
    flex-grow: 1;
    border: solid 5px #695acd;
} 
.darkblue{
    background-color: #add8e6;
    height: 150px;
    border: solid 5px;
    border-color: #2000ff;
    display: flex;
    padding: 5px;
    gap: 11px;
}
.blue2{
    width: 200px;
    height: 100%;
 
    flex-grow: 1;
    
    display: flex;
    gap: 10px;
}
.blue3{
    width: 200px;
    height: 100%;
    background-color: #fddbb9;
    flex-grow: 1;
    border: solid 5px #f88072; 
}
.blue4{
    width: 200px;
    height: 100%;
    background-color: #fddbb9;
    flex-grow: 1;
    border: solid 5px #f88072;
}
.blue5{
    width: 200px;
    height: 100%;
    background-color: #e2deff;
    flex-grow: 1;
    border: solid 5px #695acd;
} 
